$color-bg: #FBEDE0;
$color-bg-exp: #F8F3EF;
$color-bg-contact: #FBEBEB;

$font-color: #454545;
$color-link: #000000;
$color-hover: #4169E1;

$padding-left-align: 40px;
$margin-between-skills: 250px;

$content-width: 1200px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 414px;